@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Raleway", Arial, Tahoma, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

sup {
    font-size: .8rem;
    vertical-align: super;
}

.flex {
    display: flex;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.box {
    width: 33%;
    height: 200px;
}


.color--alt {
    color: #27c7ab;
}

.btn {
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    background-color: #27c7ab;
    color: #FFFFFF;
    padding: 0 20px;
    border-radius: 6px;
    border: 0 solid #27c7ab;
}

section {
    margin-bottom: 20px;
}

/*------header& nav > .menu-------*/

header {
    height: 40px;
    line-height: 40px;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
}

header .flex h1, header .flex nav {
    flex-basis: 50%;
}

.menu {
    background-color: #000000;
}

.menu.flex li {
    flex-basis: calc(100% / 3);
    position: relative;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    z-index: -1;
    top: calc(-100% - 60px);
    padding: 10px;
    transition: top .4s;
}

.dropdown a {
    text-transform: initial;
}

.menu li:hover > .dropdown {
    top: calc(100% + 10px);
    transition: top .4s;
}

ul {
    list-style: none;
}

/*------section .slider-------*/

.slider {
    /*width: 1200px;*/
    /*height: 500px;*/
}

.slide-container {
    position: relative;
}

.slide-layer {
    position: absolute;
    top: 25%;
    left: 55%;
    right: 10%;
    text-align: center;
}

.slide-layer p {
    margin: 10px 0;
}

/*------section .products-------*/

.products figure {
    position: relative;
}


.products figure figcaption {
    position: absolute;
    bottom: 20px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    padding: 15px;
    background-color: rgba(255, 255, 255, .3);
}

/*------section .plan-select-------*/

.plan-select input[type="radio"] {
    visibility: hidden;
}

.plan-select .flex {
    justify-content: space-around;
}

.plan-select .flex > li {
/*    flex-basis: calc(100% / 3 - 120px);*/
    flex: 1 0 calc(100% / 3 - 120px);
    padding: 10px 20px;
}

input[type="radio"]:checked + .card {
    background-color: #27c7ab;
/*    border: 1px solid #ffffff;*/
}

input[type="radio"]:checked + .card:before {
    background-color: #FFFFFF;
    border: 8px solid #27c7ab;
    box-shadow: 0 0 0 1px #FFFFFF;
}

input[type="radio"]:checked + .card h3 {
    color: #FFFFFF;
}

input[type="radio"]:checked + .card .circle {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

input[type="radio"]:checked + .card label {
    background-color: #FFFFFF;
    color: #27c7ab;
}

.card {
    display: flex;
    flex-flow: column wrap;
/*    align-content: center;*/
    position: relative;
    border: 1px solid #27c7ab;
}

.card:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -8px;
    background-color: #27c7ab;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #27c7ab;
}

.card h3 {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.offer {
    margin-top: 15px;
    background-color: #CCC;
}

.offer > li {
    padding: 5px 20px;
    text-align-last: center;
}

.offer li:nth-child(even) {
    background-color: #FFF;
}

.card label {
    width: 40%;
    margin: 10px auto;
    text-transform: uppercase;
}

.circle {
    width: 60px;
    height: 60px;
    line-height: 20px;
    padding: 10px;
    margin: 5px auto 0;
    border: 1px solid #27c7ab;
    border-radius: 50%;
    text-align: center;
}

.currency {
    text-transform: uppercase;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
}



/*------section .contact-form-------*/
.contact-form legend {
    width: 40%; 
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contact-form .wrapper .flex {
    width: 100%;
    display: flex;
}

.form-data {
    flex: 2 0 66%;
    display: flex;
    flex-flow: column wrap;
}
.form-check-and-submit {
    flex: 1 0 33%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.contact-form img, .contact-form input[type="checkbox"], .contact-form input[type="submit"] {

}

.contact-form label {
    display: inline-block;
    width: 100%;
    padding: 10px;
}
/*------footer-------*/

.socials li {
    display: inline-block;
}